<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th> <!-- Just here so we can test this to make sure it works. -->
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event.id}"></td>
        <td th:text="${event.name}"></td> <!-- Previously looping over a list of events, but referenced those events as Strings. Now we're looping over a list of Events and each of those Events has a name property. The Thymeleaf syntax event.fieldName runs a getter method behind the scenes in order to access a field.  -->
        <td th:text="${event.description}"></td>
    </tr>
</table>

</body>
</html>