<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head"> <!-- in order to use our /script.js and /styles.css across all of our files, we had to define the head element as a fragment. Then we can just reference this fragment anywhere else in our site. -->
    <meta charset="UTF-8"/>
    <title>Coding Events</title>

    <script th:src="@{/script.js}"></script>
    <link th:href="@{/styles.css}" rel="stylesheet"> <!-- thymeleaf will be able to find /script.js and /styles.css as long as they're located in the static folder under the templates directory. -->

</head>
<body>

<nav th:fragment="navigation"> <!-- defines this block as a fragment -->
    <ul>
        <li><a href="/events">All Events</a></li>
        <li><a href="/events/create">Create Event</a></li>
    </ul>
</nav>

</body>
</html>