<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head> <!-- first list the name of file containing the fragments, then two colons, then the name of the fragment-->
<body class="container"> <!-- container makes nice layout changes to our pages. every time we make a body element, we need to put container on it. -->

<h1>Coding Events</h1>

<nav th:replace="fragments :: header"></nav> <!-- 'fragments' is the name of the template the fragment is contained in. 'navigation' is the name of the fragment within that file.-->

</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--<head th:replace="fragments :: head"></head> &lt;!&ndash; first list the name of file containing the fragments, then two colons, then the name of the fragment&ndash;&gt;-->
<!--<body>-->

<!--<h1>Coding Events</h1>-->

<!--<nav th:replace="fragments :: navigation"></nav> &lt;!&ndash; 'fragments' is the name of the template the fragment is contained in. 'navigation' is the name of the fragment within that file.&ndash;&gt;-->

<!--</body>-->
<!--</html>-->